{% extends "base.html" %}

{% block title %}Home - Personal Website{% endblock title %}

{% block page_content %}

    <div class="content-center">
        <div class="intro">
            <p class="greeting">Hi, my name is</p>
            <h1 class="name">Kwanele Myeza</h1>
            <p class="role">Software Developer & Tester</p>
            <p class="description">From writing clean, maintainable code to designing test strategies that catch bugs early, I take pride in delivering software that's both functional and dependable.</p>
        </div>
    </div>
    
{% endblock page_content %}
