{% extends "base.html" %}

{% block title %}Home - Personal Website{% endblock title %}

{% block page_content %}

    <div class="content-center">
        <div class="intro">
            <p class="greeting">Hi, my name is</p>
            <h1 class="name">Kwanele Myeza</h1>
            <p class="role">Software Developer & Tester</p>
            <p class="description">I’m passionate about building software that solves real-world problems and makes life easier. Whether it's automating repetitive tasks or creating tools that enhance user experience, I love seeing code come to life.</p>
        </div>
    </div>
    
{% endblock page_content %}
