# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Django
*.sqlite3
db.sqlite3
/staticfiles/
media/
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Node modules (if you have any front-end build tools)
node_modules/
